:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --button-background-color: #f5f4fa;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*ХЕДЕР*/
.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  height: 80px;
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--hover-color);
}
.logo-prefix {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.studio-portfolio-contacts {
  margin-left: 93px;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link-active {
  color: var(--hover-color);
}
.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-item {
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

/*ХИРО*/
.hero {
  background: #2f303a;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button {
  margin-top: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
button:hover {
  cursor: pointer;
}

/*ПРЕИМУЩЕСТВА*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.about-us-title {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.paragraph-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--secondary-text-color);
}

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/
.useless-crap {
  padding-top: 0;
}
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.apps {
  margin-top: 50px;
  display: flex;
}
.apps-item {
  margin-right: 30px;
}
.apps-item:last-child {
  margin-right: 0;
}
/*НАША КОМАНДА*/
.ourteam {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.ourteam-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.ourteam-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-wrapper {
  padding: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.profession-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

/*ФУТЕР*/

.studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-list {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.contact-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.contact-address:focus,
.contact-address:hover {
  color: var(--hover-color);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--hover-color);
}

/* СЕКЦИЯ КНОПОК В ПОРТФОЛИО */
.portfolio-button {
  padding: 6px 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: var(--primary-text-color);
  background: var(--button-background-color);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button-active {
  background: var(--hover-color);
  color: #f5f5f5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.buttons-list {
  display: flex;
  justify-content: center;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}

/* ПОРТФОЛИО */
.images-list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  margin-left: 30px;
  margin-bottom: 30px;
}
portfolio-item:last-child {
  margin-left: 0;
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}
